= form_with url: url, method: :get, local: true, html: { class: "input-group"} do |form|
  = form.text_field :search, value: params[:search], class: "form-control",
    autofocus: true, placeholder: "Search by title or content of article..."

  = form.button "Search", name: nil, class: "btn btn-outline-secondary"
