html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media (max-width: 992px) {
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .nav-link {
      padding-right: 0;
    }
  }
}
