.alert.alert-light.flash-alert {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert.alert-light.flash-notice {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.alert.alert-light.flash-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
